.videoFrame {
  width: 15%;
  height: 85%;
  margin: 15px 30px 15px 15px;
  background: black;
}

.VODInfo {
  margin-top: 15px;

  .VODTitle {
    font-size: 1.5rem;
  }

  .teacher {
    margin-top: 30px;
  }  
}


