.sectionTitle {
  color: #fff;
    p {
      padding: 40px 0 0 90px;
      margin-bottom: 0px;
    }

    h1 {
      margin: 0px;
      padding-left: 90px;
     
    }
}

.searchForm {
  position: absolute;
  right: 10%;
  display: flex;
  margin-bottom: 50px;

    input {
      border: none;
      border-radius: 20px;
      background: #ECECEC;
      margin-right: 20px;
      height: 25px;
    }

    button {
      border: none;
      border-radius: 50%;
      color: #5AC467;
      
    }
  }    