header {
  display: flex;
  justify-content: space-between;
  // height: 88px;

  .logo p {
    font-weight: bold;
    color: #5AC467;
    margin-left: 20px;
  }

  .navBar {
    list-style: none;
    display: flex;
    width: 400px;
    justify-content: flex-end;
    

      .navItem {
        margin-left: 40px;
      }

      .navItem a {
        text-decoration: none;
        color: black;

          &:hover {
            text-decoration: underline;
            font-weight: bold;
            color: #5AC467;
          }
      }

      
    
  }

  .userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-weight: bold;
  }
}