.noticeMain {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #5ac467;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.noticeDiv {
  width: 90%;
  height: 100%;
}

.noticeTitle {
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 40px;
  padding-left: 70px;
}

.noticeTitle > * {
  margin: 0;
}

.noticeBtn {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px;
  padding-right: 70px;
}

.noticeBtn > button {
  width: 120px;
  height: 45px;
  border: none;
  border-radius: 15px;
  font-size: medium;
  background-color: white;
  cursor: pointer;
}

.noticeList {
  display: flex;
  justify-content: center;
}

.noticeContainer {
  width: 90%;
  height: 90vh;
  margin: 20px auto;
  background: #f2f2f2;
  border-radius: 15px 15px 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.noticeContainer > li {
  margin: 0;
  padding: 0;
}

.noticeListItem {
  margin: 10px 0 10px 0;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
}

.noticeContainer > :first-child {
  padding-top: 10px;
}

.noticeContainer > :last-child {
  padding-bottom: 10px;
}

.noticeListItemTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noticeListItemTitle {
  font-size: x-large;
  color: black;
  font-weight: bolder;
}

.noticeListItemTitleBtns {
  display: flex;
  gap: 5px;
  font-size: smaller;
  margin: 0;
  padding: 0;
}

.noticeListItemTitleBtns > a {
  color: black;
}

.noticeListItemContent > p {
  width: 20%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fakeLink {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.fakeLink:hover {
  text-decoration: none;
}
