html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.sectionTitle {
  color: #fff;
}

.sectionTitle p {
  padding: 40px 0 0 90px;
  margin: 0px;
}

.sectionTitle h1 {
  margin: 0px;
  padding-left: 90px;
}

.searchForm {
  position: absolute;
  right: 10%;
  display: flex;
  margin-bottom: 50px;
}

.searchForm input {
  border: none;
  border-radius: 20px;
  background: #ECECEC;
  margin-right: 20px;
  height: 25px;
}

.searchForm button {
  border: none;
  border-radius: 50%;
  color: #5AC467;
}
